$darkBackground: #152A38;
$lightBackground: #fff;
$darkColor: #fff;
$lightColor: #222;

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $lightBackground; /* Default light background */
  color: $lightColor; /* Default light text color */
  transition: background-color 0.4s, color 0.4s; /* Smooth transition */
}

.card {
  transition: transform 0.4s;
  position: relative;
  overflow: hidden;
}
*{
  
    margin: 0;
    padding: 0;
}
.card div{
  transition: all 0.5s ease-in-out;
}
header div i{
    cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* Apply styles for dark mode */
[data-theme="dark"] {
  background-color: $darkBackground; /* Dark background */
  color: $darkColor; /* Dark text color */
}
.card:hover .falg_info{
  top: 0%;


}

.falg_info{
  position: absolute;
  top: -100%;
  border-radius: 5px;
  padding: 3px;
  background-color: $darkBackground;
  color: #fff;
  height: 100%;
}